@model SimpleSocia.Services.Models.Search.SearchResultsViewModel


@{
    ViewData["Title"] = "Index";
}

<h2>Searching for "@Model.SearchText"</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3 who-to-follow-wrapper">
        <h2 class="text-center">Users</h2>
        <partial name="~/Views/Shared/Partials/_UsersListPartial.cshtml" model="@Model.UsersFound" />
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#comment-button").click(function () {
                $(".write-comment").css("display", "flex");
            });
        });
    </script>
}