@model SimpleSocia.Services.Models.Search.SearchResultsViewModel


@{
    ViewData["Title"] = "Index";
}

<h2>Searching for "@Model.SearchText"</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3 who-to-follow-wrapper">
        <h2 class="text-center">Users</h2>
        @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.UsersFound })
    </div>
</div>