@model SimpleSocia.Services.Models.Posts.SinglePostViewComponentModel
@{
    ViewData["Title"] = "PostDetails";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div>
    @await Component.InvokeAsync("SinglePost", new { currentUserId = Model.PostVisitorId, post = Model.Post, ProfilePictureURL = Model.ProfilePictureURL})
</div>
