@{
    ViewData["Title"] = "ChangeProfilePicture";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 form-group">
        <form asp-action="UploadProfilePicture" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Image
            </label>
            <input type="file" name="UploadImage" id="file-upload" accept="image/*" onchange="previewFile()"/>
            <div>
                <img src="" height="200" alt="Image preview..." id="image-preview">
            </div> 
            <input type="submit" class="btn btn-primary" value="Upload" />
        </form>
    </div>
</div>
