@using System.IO
@model SimpleSocia.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserInfoPartial.cshtml" for="UserProfileInfo"/>
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo"/>
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
        </div>
        <div class="col-md-3 who-to-follow-partial text-center" id="test">
            <h2>Who to follow</h2>
            @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.WhoToFollow })
            <div style="margin: 10px;">
                <a asp-controller="Followers" asp-action="WhoToFollow" class="no-followers-btn" style="font-size: 20px;">Find More</a>
            </div>
    </div>
</div>

@section Scripts
    {

    @if (!Model.IsValidProfilePicture)
    {
        <script>
            $(document).ready(function () {
                alert("Please provide us a image");
            });

        </script>
    }
    <script>
        $(document).ready(function () {
            $("#comment-button").click(function () {
                $(".write-comment").css("display", "flex");
            });
        });
    </script>

    <script>
        function disableButton() {
            if (document.getElementById("input1").value.trim() === "") {
                document.getElementById('post-button').disabled = true;
            } else {
                document.getElementById('post-button').disabled = false;
            }
        }

        function disableCommentButton() {
            if (document.getElementById("comment-text").value.trim() === "") {
                document.getElementById('comment-button').disabled = true;
            } else {
                document.getElementById('comment-button').disabled = false;
            }
        }

        var buttons = $(".like-btn");

        $(document).ready(function () {
            $.each(buttons,
                function () {
                    var likebtn = $(this);
                    var isLiked = likebtn.data("like");
                    if (isLiked === 'True') {
                        likebtn.html("<i class=\"far fa-thumbs-down\"></i>Unlike");
                    } else {
                        likebtn.html("<i class=\"far fa-thumbs-up\"></i>Like");
                    }
                });
        });

    </script>


    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/src/js/EmojiArea.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/main.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/jquery.emojiarea.js"></script>
}
