@using System.IO
@model SimpleSocia.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserInfoPartial.cshtml" for="UserProfileInfo"/>
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo"/>
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
        </div>
        <div class="col-md-3 who-to-follow-partial text-center" id="test">
            <h2>Who to follow</h2>
            @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.WhoToFollow })
            <div style="margin: 10px;">
                <a asp-controller="Followers" asp-action="WhoToFollow" class="no-followers-btn" style="font-size: 20px;">Find More</a>
            </div>
    </div>
</div>

@section Scripts
    {

    @if (!Model.IsValidProfilePicture)
    {
        <script>
            $(document).ready(function () {
                alert("Please provide us a image");
            });

        </script>
    }

    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/src/js/EmojiArea.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/main.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/jquery.emojiarea.js"></script>
}
