@using System.IO
@model SimpleSocia.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/_UserInfoPartial.cshtml" for="UserInfo"/>
            <div class="row" style="margin-top: 10px; background: #fff">
                <div class="text-center vertical-menu">
                    <h2>Menu</h2>
                    <a asp-controller="Followers" asp-action="Followers">Followers</a>
                    <a asp-controller="Followers" asp-action="Following">Following</a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form asp-controller="Posts" asp-action="Create">
                <div class="foo">
                    <div data-emojiarea data-type="unicode" data-global-picker="false">
                        <div class="emoji-button">&#x1f604;</div>
                        <textarea asp-for="CreatePost.Content" placeholder="What's up today ?" id="input1" cols="70" rows="4"></textarea>
                        <input asp-for="CreatePost.WallId" value="@Model.UserInfo.WallId" hidden />
                        <input asp-for="CreatePost.UserId" value="@Model.UserInfo.UserId" hidden />
                        <div class="post-functions">
                            <div class="icons">
                                <i class="fas fa-images"></i>
                            </div>
                            <div class="functions">
                                <button type="submit">post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
        </div>
        <div class="col-md-3 who-to-follow-partial text-center" id="test">
            <h2>Who to follow</h2>
            <a asp-controller="Followers" asp-action="WhoToFollow">Find Followers</a>
        </div>
    </div>
</div>

@section Scripts
    {

    @if (!Model.IsValidProfilePicture)
    {
        <script>
            $(document).ready(function () {
                alert("Please provide us a image");
            });

        </script>
    }
    <script>
        $(document).ready(function () {
            $("#comment-button").click(function () {
                $(".write-comment").css("display", "flex");
            });
        });
    </script>

    <script>
        function disableButton() {
            if (document.getElementById("input1").value.trim() === "") {
                document.getElementById('post-button').disabled = true;
            } else {
                document.getElementById('post-button').disabled = false;
            }
        }

        function disableCommentButton() {
            if (document.getElementById("comment-text").value.trim() === "") {
                document.getElementById('comment-button').disabled = true;
            } else {
                document.getElementById('comment-button').disabled = false;
            }
        }

        var buttons = $(".like-btn");

        $(document).ready(function () {
            $.each(buttons,
                function () {
                    var likebtn = $(this);
                    var isLiked = likebtn.data("like");
                    if (isLiked === 'True') {
                        likebtn.html("<i class=\"far fa-thumbs-down\"></i>Unlike");
                    } else {
                        likebtn.html("<i class=\"far fa-thumbs-up\"></i>Like");
                    }
                });
        });

    </script>


    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/src/js/EmojiArea.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/main.js"></script>
    <script src="/Emoji-Picker-For-Textarea-jQuery-Emojiarea/jquery.emojiarea.js"></script>
}
