@model SimpleSocia.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserInfoPartial.cshtml" for="UserProfileInfo" />
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo" />
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
            <div id="postsHolder">

            </div>
        </div>
        <div class="col-md-3 text-center" id="test">
            <div class="row" style="background: white">
                <h2>Who to follow</h2>
                @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.WhoToFollow })
                <div style="margin: 10px;">
                    <a asp-controller="Followers" asp-action="WhoToFollow" class="no-followers-btn" style="font-size: 20px;">Find More</a>
                </div>
            </div>
            <div class="row" style="background: white; margin-top: 10px;">
                <partial name="~/Views/Shared/Partials/_SideFooter.cshtml" />
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    @if (!Model.IsValidProfilePicture)
    {
        <script>
            $(document).ready(function () {
                alert("Please provide us a image");
            });

        </script>
    }

    <script>
        var pageNumber = 0;
        $(window).scroll(function () {

            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                pageNumber++;
                var url = "/Account/GetMyPosts?pageNumber=" + pageNumber;
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (posts) {
                        $('#postsHolder').append(posts);
                        $.getScript('../js/post.js');

                    }
                });

                posts = document.querySelectorAll('.single-post');
            }
        });

    </script>
}
