@model SimpleSocia.Services.Models.Followers.AddFollowersViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-3">Hashtags...</div>
    <div class="col-md-6 who-to-follow-wrapper">
        <h2>Who to Follow</h2>
        @foreach (var user in Model.UsersToFollow)
        {
            <div class="follower">
                <div class="left-user-section">
                    <div class="profile-picture" style="background: url(/profile-pictures/@user.ProfilePicture.FileName); background-size: cover"></div>
                    <div class="user-name"><strong>@user.UserName</strong></div>
                </div>
                <div class="right-user-section">
                    <button>Follow</button>
                </div>
            </div>

        }
    </div>
</div>