@model SimpleSocia.Services.Models.Followers.UsersListViewModel
@{
    ViewData["Title"] = "WhoToFollow";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 who-to-follow-wrapper">
        <h2 class="text-center">Who to Follow</h2>
        <partial name="~/Views/Shared/Partials/_UsersListPartial.cshtml" model="@Model" />
    </div>
</div>

@Html.PagedListPager((IPagedList)Model.Users, pageNumbar => Url.Action("WhoToFollow", new { pageNumbar }))