@model SimpleSocia.Services.Models.Followers.UsersListViewModel
@{
    ViewData["Title"] = "WhoToFollow";
}
<div class="row">
    <div class="col-md-3">Hashtags...</div>
    <div class="col-md-6 who-to-follow-wrapper">
        <h2 class="text-center">Who to Follow</h2>

        @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model})

    </div>
</div>