@model SimpleSocia.Services.Models.Account.PostsFeedAndUserInfoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserInfoPartial.cshtml" for="UserProfileInfo" />
        </div>
        <div class="col-md-6">
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
            <div id="postsHolder">

            </div>
        </div>
    </div>
</div>

<script>
    var pageNumber = 0;
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            pageNumber++;
            var url = "Profiles/GetUserPosts?pageNumber=" + pageNumber;
            $.ajax({
                type: "GET",
                url: url,
                data: {userId : "@Model.UserProfileInfo.UserId"},
                success: function(posts) {
                    $('#postsHolder').append(posts);
                    $.getScript('../js/post.js');
                }
            });      
            posts = document.querySelectorAll('.single-post');
        }
    });

</script>