@model SimpleSocia.Services.Models.Account.PostsFeedAndUserInfoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserInfoPartial.cshtml" for="UserProfileInfo" />
        </div>
        <div class="col-md-6">
            @if (Model.UserProfileInfo.IsBeingFollowedByCurrentUser)
            {
                @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
            }          
        </div>
    </div>
</div>
