@model SimpleSocia.Services.Models.Account.PostsFeedAndUserInfoViewModel
@{
    ViewData["Title"] = "NewsFeed";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo"/>
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
        </div>
    </div>
</div>

