@model SimpleSocia.Services.Models.Account.PostsFeedAndUserInfoViewModel
@{
    ViewData["Title"] = "NewsFeed";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo" />
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
            <div id="postsHolder">

            </div>
        </div>
    </div>
</div>

<script>
    var pageNumber = 0;
    $(window).scroll(function () {
        
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            pageNumber++;
            var url = "/Posts/GetPosts?pageNumber=" + pageNumber;
            $.ajax({
                type: "GET",
                url: url,
                success: function(posts) {
                    $('#postsHolder').append(posts);
                    $.getScript('../js/post.js');

                }
            });
            
            posts = document.querySelectorAll('.single-post');
        }
    });

</script>