@model SimpleSocial.Services.Models.Account.MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="~/Views/Shared/Partials/_UserBoxPartial.cshtml" for="UserProfileInfo" />
            <partial name="~/Views/Shared/Partials/_SideMenuPartial.cshtml" model="@Model.CurrentUserInfo" />
        </div>
        <div class="col-md-6">
            <partial name="~/Views/Shared/Partials/_CreatePostPartial.cshtml" model="@Model" />
            @await Component.InvokeAsync("ListOfPosts", new { posts = Model })
        </div>
        <div class="col-md-3 text-center" id="test">
            <div class="row" style="background: white">
                <h2>Who to follow</h2>
                 <partial name="~/Views/Shared/Partials/_UsersListPartial.cshtml" model="@Model.WhoToFollow"/>
                <div style="margin: 10px;">
                    <a asp-controller="Followers" asp-action="WhoToFollow" class="no-followers-btn" style="font-size: 20px;">Find More</a>
                </div>
            </div>
            <div class="row" style="background: white; margin-top: 10px;">
                <partial name="~/Views/Shared/Partials/_SideFooter.cshtml" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const userId = @ViewData["UserId"];
    </script>
    <script type="text/javascript" src="~/js/postLoader.js"></script>
    <script type="text/javascript" src="~/js/userInfo.js"></script>
}
