.btn-holder {
    display: flex;
    justify-content: space-evenly;
}

.btn-holder a {
    width: 20%;
}

.greetings-header {
    text-align: center;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}


td a {
    font-weight: bold;
    display: block;
}

td {
    font-weight: bold;
}

.unfollow-section .follower {
    background: none;
    padding: 0;
}

    .unfollow-section .follower button {
        margin: 0;
    }

.user-name-unfollow {
    margin-left: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

table {
    background: white;
}

.post-info {
    background: white;
    padding: 10px;
}
.post-info h3 {
    margin: 5px;
}

    .post-info .post-content {
        margin-left: 10px;
    }

.reporter-info {
    background: white;
    margin-top: 10px;
}

.report-actions {
    background: white;
    margin-top: 10px;
}

    .report-actions .delete-actions {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
