.profilePicture {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    left: 0;
    top: 0;
    border: 0;
}

.show-link {
    opacity: 0;
    transition: 300ms all ease-in-out;
    margin-top: 10px;
    padding-left: 15px;
}

.profile-picture-holder:hover .show-link {
    transition: 300ms all ease-in-out;
    opacity: 1;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.image-preview-input-title {
    margin-left: 2px;
}

.emoji {
    color: transparent;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    height: 25px;
    width: 25px;
}

    .emoji::selection {
        background-color: highlight;
        color: transparent;
    }

.emoji-image {
    font-size: 14px;
    line-height: 28px;
}

.emoji-button {
    cursor: pointer;
    margin: 5px;
}

.emoji-editor {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: text;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    -webkit-font-smoothing: antialiased;
    height: 100px;
    overflow: auto;
    padding: 5px;
    resize: both;
    width: 100%;
}

.emoji-picker {
    z-index: 3;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    width: 210px;
}

    .emoji-picker a {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        padding: 3px;
    }

.emoji-selector {
    border-bottom: 1px solid #ccc;
    display: flex;
}

    .emoji-selector li {
        margin: 5px;
    }

.emoji-group {
    display: <a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>;
    grid-template-columns: repeat(6, 16.66667%);
    height: 200px;
    overflow-y: scroll;
    padding: 3px;
}

.post-input:focus {
    height: 100px;
}

.body-wrapper {
    background-color: #E9EBEE;
}

.content-wrapper {
    margin-top: 56px;
}

.user-info {
    margin-bottom: 10px;
    padding: 10px;
    background: white;
}

.user-info-details {
    border-top: 1px solid #E9EBEE;
}

user-info-row {
    display: flex;
    justify-content: space-between;
}

.upload-picture {
    color: white;
    background-color: #0a0000bd;
}

    .upload-picture a:hover {
        color: white!important;
        background: #fff0;
    }

.who-to-follow-partial {
    background: white;
}

/*.vertical-menu a {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2px auto;
    color: black;
    padding: 12px;
    background: white;
    text-decoration: none;
}*/

    /*.vertical-menu a:hover {
        cursor: pointer;
        background: #f5f6f7;
        box-shadow: 0 4px 0 -2px #3b5998;
    }*/

.no-followers-btn {
    margin-top: 10px;
    padding: 5px;
    background: #4080ff;
    color: white;
    border-radius: 10px;
}

    .no-followers-btn :hover {
        color: white;
    }

.likes-count {
    border-bottom: 1px solid #E9EBEE;
}

.likes-count button {
    background: none;
    color: black;
}

    .likes-count button i {
        width: 20px;
        height: 20px;
        background: #4080ff;
        color: white;
        border-radius: 50%;
        padding-top: 2px;
    }

.head-modal {
    display: flex;
    justify-content: space-between;
}

.head-modal button {
    background: none;
    color: black;
}

.head-modal h3 {
    margin-left: 50%;
}

.table-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.side-menu-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2px auto;
    color: black;
    padding: 12px;
    background: white;
    text-decoration: none;
}

    .side-menu-link a{
        align-items: center;
        display: inherit;
        width: 100%;
        font-weight: bold;
    }


    .settings-menu {
        background: white;
    }

.settings-menu li {
    padding: 10px;
}
