@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy-polici-holder">
    <h1>What is a Privacy Policy</h1>
    <p>
        <div>
            A Privacy Policy is a legal statement that specifies what the business owner does with the personal data collected from users, along with how the data is processed and for what purposes.
        </div>
        <div>
            In 1968, Council of Europe did studies on the threat of the Internet expansion as they were concerned with the effects of technology on human rights. This lead to the development of policies that were to be developed to protect personal data.
        </div>
        <div>
            This marks the start of what we know now as a “Privacy Policy.” While the name “Privacy Policy” refers to the legal agreement, the concept of privacy and protecting user data is closely related.
        </div>
    </p>
    <div>
        <p>
            This agreement can also be known under these names:
            <ul>
                <li>Privacy Statement</li>
                <li>Privacy Notice</li>
                <li>Privacy Information</li>
                <li>Privacy Page</li>
            </ul>
        </p>
    </div>

    <h1>GDPR: What is it?</h1>
    <p>
        <div>The GDPR isn’t your enemy. It’s a layer of protection for citizens – and it has some benefits for businesses, too.</div>

        <div>At its core, the GDPR is a love letter from European bureaucrats to digital privacy rights. It took some of the best parts of the previous policy – the Data Protection Directive – and updated it for the modern, social internet.</div>

        <div>The purpose of the rules was to bring every European country’s data policies into sync to protect all EU citizens equally. The European Commission and leaders across the continent saw that the world became increasing data-centered in the time between the first data directive in 1995 and the way the internet is used now.</div>

        <div>The GDPR is unlike anything currently in place in the United States. The US pieces together a mish-mash of federal and state laws to protect children or healthcare data. In Europe, the GDPR is an all-encompassing policy covering all types of data for all members of the European Union. Whether you’re British or Irish, Czech or Slovak, if you’re in the Union then you’re covered by the GDPR.</div>

        <div>The most important change to note is in the jurisdiction of the law. It applies to every company that interacts with personal data of subjects in the European Union, regardless of where the organization is based.</div>

        <div>It doesn’t matter if you’re in New York or Nicaragua. If you’re collecting data from any European from Galway to Greece, then the GDPR applies to you.</div>
    </p>
</div>