.single-post {
  background: white;
  padding: 10px 0;
  margin-bottom: 10px;
}

.content {
  margin-top: 5px;
  border-bottom: 1px solid #e9ebee;
}

.user,
.content,
.actions,
.comments {
  padding: 0 10px;
}
