@model SimpleSocia.Services.Models.Users.UserInfoViewModel

<div class="row profile-picture-holder user-info text-center">
    <cache expires-after="@TimeSpan.FromSeconds(2)">
        <img src="@Model.ProfilePicture.FileName" class="profilePicture" />
        <div class="show-link">
            <a asp-action="ChangeProfilePicture" asp-controller="Account" class="btn btn-default">Upload Profile Picture</a>
        </div>
    </cache>
    <h2>@Model.UserName</h2>
</div>
