@model SimpleSocia.Services.Models.Users.UserInfoViewModel

<div class="row profile-picture-holder user-info text-center">

    <img src="@Model.ProfilePicture.FileName" class="profilePicture" />
    @if (Model.UserName == User.Identity.Name)
    {
        <div class="show-link">
            <a asp-action="ChangeProfilePicture" asp-controller="Account" class="btn btn-default">Upload Profile Picture</a>
        </div>
    }

    <h2>@Model.UserName</h2>
</div>
