
@{
    ViewData["Title"] = "_SideFooter";
}

<div class="side-partial">
    <div><p>&copy; @DateTime.Now.Year - SimpleSocial</p></div>
    <div><p><a asp-controller="Home" asp-action="Privacy" class="privacy-link">Privacy policy</a></p></div>
    <div><p>All rights reserved</p></div>
</div>

