@model SimpleSocia.Services.Models.Users.UserInfoViewModel

<div class="row">
    <div class="text-center vertical-menu">
        <div class="side-menu-link">
            <a asp-controller="Account" asp-action="MyProfile">
                <div class="profile-picture" style="background-image: url(@Model.ProfilePicture.FileName)"></div> @Model.UserName
            </a>
        </div>
        <div class="side-menu-link">
            <a asp-controller="Followers" asp-action="Followers">Followers</a>
            <span>@Model.FollowersCount</span>
        </div>
        <div class="side-menu-link">
            <a asp-controller="Followers" asp-action="Following">Following</a>
            <span>@Model.FollowingsCount</span>
        </div>
        <div class="side-menu-link">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>
            <span><i class="fas fa-cog" style="margin-left: 10px;"></i></span>
        </div>
    </div>
</div>

