@model SimpleSocia.Services.Models.Users.UserInfoViewModel
<div class="row user-info text-center">
    <div class="profile-picture-holder">
        <img src="@Model.ProfilePicture.FileName" class="profilePicture" />
        @if (Model.UserName == User.Identity.Name)
        {

            <div class="show-link">
                <a asp-action="ChangeProfilePicture" asp-controller="Account" class="upload-picture btn">Upload Profile Picture</a>
            </div>
        }
    </div>
    <h2>@Model.UserName</h2>
    @if (Model.UserName != User.Identity.Name)
    {
        <div class="follower" style="display: block;">
            @if (Model.IsBeingFollowedByCurrentUser)
            {
                <button data-userid="@Model.UserId" class="unfollow" onClick="window.location.reload()">Unfollow</button>
            }
            else
            {
                <button data-userid="@Model.UserId" onClick="window.location.reload()">Follow</button>
            }
        </div>
    }
</div>
