@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="form-holder">
    <div class="row">
        <div class="col-md-6 text-center">
            <section>
                <form method="post">
                    <h2>@ViewData["Title"]</h2>
                    <h4>Enter your email.</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login-btn">Submit</button>
                </form>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
