@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="form-holder">
    <div class="row">
        <div class="col-md-6 text-center">
            <section>
                <form method="post">
                    <h3 class="text-center" style="margin-bottom: 25px;"><b>Login</b></h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control input-login" placeholder="Username" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control input-login" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="login-btn">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
