@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="form-holder">
    <div class="row">
        <div class="col-md-6 text-center">
            <section>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4 style="margin-bottom: 25px;"><b>Join Simple Social.</b></h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control input-login" placeholder="Username"/>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>              
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control input-login" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control input-login" placeholder="Password"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control input-login" placeholder="Confirm Password"/>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login-btn">Register</button>
                </form>
            </section>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
