@{
    ViewData["Title"] = "Index";
}

<div class="greetings-header">
    <h2>Administration</h2>
    <blockquote>
        <p>"@ViewData["Quote"]"</p>
    </blockquote>
</div>
<div class="row">
    <div class="btn-holder">
        <a asp-action="AllReports" class="btn btn-danger">Reports</a>
        <a asp-action="ManageUsers" class="btn btn-success">Manage Users</a>
    </div>
</div>

