.user-info {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
}

.user-info > *:not(:first-child) {
  border-top: 1px solid #e9ebee;
  padding: 10px 20px;
}

.user-details > div {
  margin: 5px 0;
}
